.heading {
}
.heading--fancy {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
}
.heading--fancy::first-line {
  font-size: 2.5rem;
}
.heading--highlight {
  color: var(--purple);
}

